!!! 5
html(lang='en')
  head
      meta(charset='utf-8')
      title Admin
    
      link(rel='stylesheet', href='http://fotorama.s3.amazonaws.com/4.4.2/fotorama.css', rel="stylesheet")
      
      script(type='text/javascript', src='javascripts/vendors/jquery/jquery-1.10.2.min.js')
      
      script(src='http://fotorama.s3.amazonaws.com/4.4.2/fotorama.js')    
      base(href="http://fotorama.s3.amazonaws.com/i/okonechnikov/")
  body
   .fotorama(data-width="700",data-ratio="700/467",data-max-width="100%")    
      img(src="1-lo.jpg")
      img(src="2-lo.jpg")
      img(src="3-lo.jpg")
      img(src="4-lo.jpg")
