!!! 5
// saved from url=(0027)http://www.arabeths.com.br/
html.chrome.chrome27.desktop(dir='ltr', lang='pt-br', slick-uniqueid='3')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='robots', content='index, follow')
    meta(name='keywords', content='arabeths, Arabeths, Restaurante, Buffet')
    meta(name='description', content='TRABALHAMOS NO NOSSO SALÃO PARA ATÉ 120 PESSOAS OU À DOMICILIO. CASAMENTOS, NOIVADOS, CONFRATERNIZAÇÕES, ANIVERSÁRIOS INFANTIS, JANTARES, ÓTIMOS PREÇOS FAÇA ORÇAMENTO SEM COMPROMISSO')
    meta(name='generator', content='Joomla! 1.5 - Open Source Content Management')
    title Arabeths
    link(href='http://www.arabeths.com.br/index.php?format=feed&type=rss', rel='alternate', type='application/rss+xml', title='RSS 2.0')
    link(href='http://www.arabeths.com.br/index.php?format=feed&type=atom', rel='alternate', type='application/atom+xml', title='Atom 1.0')
    script(type='text/javascript', src='http://www.arabeths.com.br/media/system/js/mootools.js')
    script(type='text/javascript', src='http://www.arabeths.com.br/media/system/js/caption.js')
    link(rel='stylesheet', href='http://www.arabeths.com.br/templates/system/css/system.css')
    link(rel='stylesheet', href='http://www.arabeths.com.br/templates/system/css/general.css')
    // Created by Artisteer v4.0.0.58475
    meta(name='viewport', content='initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width')
    //if lt IE 9
      script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
    link(rel='stylesheet', href='http://www.arabeths.com.br/templates/arabeths/css/template.css', media='screen')
    //if lte IE 7
      link(rel='stylesheet', href='/templates/arabeths/css/template.ie7.css', media='screen')
    link(rel='stylesheet', href='http://www.arabeths.com.br/templates/arabeths/css/template.responsive.css', media='all')
    link(rel='stylesheet', type='text/css', href='http://www.arabeths.com.br/media/system/js/css')
    script
      if ('undefined' != typeof jQuery) document._artxJQueryBackup = jQuery;
    script(src='http://www.arabeths.com.br/media/system/js/jquery.js')
    script
      jQuery.noConflict();
    script(src='http://www.arabeths.com.br/media/system/js/script.js')
    script
      if (document._artxJQueryBackup) jQuery = document._artxJQueryBackup;
    script(src='http://www.arabeths.com.br/media/system/js/script.responsive.js')
    script
      window["_GOOG_TRANS_EXT_VER"] = "1";
  body
    #art-main
      nav.art-nav.clearfix.desktop-nav
        .art-nav-inner
          ul.art-hmenu
            li#current.active.item28
              a.active(href='http://www.arabeths.com.br/media/system/js/Arabeths.html') HOME
            li.item29
              a(href='http://www.arabeths.com.br/index.php?option=com_content&view=article&id=46&Itemid=29') Festas
            li.item18
              a(href='http://www.arabeths.com.br/index.php?option=com_content&view=article&id=48&Itemid=18') Buffet
            li.item30
              a(href='http://www.arabeths.com.br/index.php?option=com_content&view=article&id=27&Itemid=30') Contato
            li.item53
              a(href='http://www.arabeths.com.br/index.php?option=com_content&view=article&id=50&Itemid=53') Localização
      header.art-header.clearfix
        .art-shapes
          h1.art-headline(data-left='4.25%', style='left: 156.325px;')
            a(href='http://www.arabeths.com.br/media/system/js/Arabeths.html') Arabeths
          .art-object306567849(data-left='24.91%', style='left: 340.199px;')
      .art-sheet.clearfix
        .art-layout-wrapper.clearfix
          .art-content-layout
            .art-content-layout-row
              .art-layout-cell.art-content.clearfix
                article.art-post
                  .art-postcontent.clearfix
                    span.breadcrumbs.pathway
                      | Home
                article.art-post.art-messages(style='display: none;')
                  .art-postcontent.clearfix
                .blog-featured
                  table(width='100%', cellpadding='0', cellspacing='0')
                    tbody
                      tr
                        td.article_column(valign='top', width='33%')
                          article.art-post
                            h2.art-postheader Restaurante Self-Service
                            .art-postcontent.clearfix
                              .art-article
                                p(style='text-align: center;')
                                  img(src='http://www.arabeths.com.br/media/system/js/310581_236300526428529_1603137786_n.jpg', border='0', width='260', height='206', style='')
                                p(style='text-align: center;')
                                  span(style='font-size: 12px; line-height: 17px;')
                                    | RESTAURANTE :
                                    br
                                  span(style='font-size: 12px; line-height: 17px;')
                                    | TRABALHAMOS COM SELF-SERVICE
                                    br
                                    | POR QUILO SEGUNDA À SÁBADO, DAS 10:30 AS
                                  span(style='font-size: 12px; line-height: 17px;')
                                    | 15:00,
                                    br
                                    | CHURRASCO DE QUINTA E SEXTA,
                                    br
                                    | VARIAS OPÇÕES QUENTES E VARIEDADES
                                  span(style='font-size: 12px; line-height: 17px;') EM SALADAS.
                        td.article_column.column_separator(valign='top', width='33%')
                          article.art-post
                            h2.art-postheader Buffet
                            .art-postcontent.clearfix
                              .art-article
                                p(style='text-align: center;')
                                  img(src='http://www.arabeths.com.br/media/system/js/156363_480632925328620_1623402347_n.jpg', border='0', width='274', height='206', style='')
                                p(style='text-align: center;')
                                  | BUFFET:
                                  br
                                  | TRABALHAMOS NO NOSSO SALÃO PARA ATÉ 120 PESSOAS
                                  br
                                  | OU À DOMICILIO. CASAMENTOS, NOIVADOS, CONFRATERNIZAÇÕES,
                                  br
                                  | ANIVERSÁRIOS INFANTIS, JANTARES,
                                  br
                                  | ÓTIMOS PREÇOS FAÇA ORÇAMENTO SEM COMPROMISSO
                                  br
                                  script(language='JavaScript', type='text/javascript')
                                  a(href='mailto:SANDRA.ARABE@IG.COM.BR') SANDRA.ARABE@IG.COM.BR
                                  script(language='JavaScript', type='text/javascript')
                                  span(style='display: none;')
                                    | Este endereço de e-mail está protegido contra spambots. Você deve habilitar o JavaScript para visualizá-lo.
                                    script(language='JavaScript', type='text/javascript')
                                  br
                                  | TEL 4104-3888
                                  br
                                  | NEXTEL 7914-4601
                                  br
                                  | ID 927*24605
                                p  
                        td.article_column.column_separator(valign='top', width='33%')
                          article.art-post
                            h2.art-postheader Delivery
                            .art-postcontent.clearfix
                              .art-article
                                p(style='text-align: center;')
                                  img(src='http://www.arabeths.com.br/media/system/js/994555_562913853767193_1158598544_n.jpg', border='0', width='274', height='206', style='')
                .art-content-layout
                  .art-content-layout-row
                    .art-layout-cell(style='width: 100%;')
                      article.art-post
                        .art-postcontent.clearfix
                          form.art-search(action='http://www.arabeths.com.br/index.php', method='post')
                            .search
                              div(style='position: relative;')
                                input#mod_search_searchword.inputbox(name='searchword', maxlength='20', alt='Pesquisa', type='text', size='20', value='pesquisar...', onblur='if(this.value=="") this.value="pesquisar...";', onfocus='if(this.value=="pesquisar...") this.value="";')
                                input.art-search-button(type='submit', value='')
                            input(type='hidden', name='task', value='search')
                            input(type='hidden', name='option', value='com_search')
                            input(type='hidden', name='Itemid', value='28')
        footer.art-footer.clearfix
      p.art-page-footer
        span#art-footnote-links
          a(href='http://www.artisteer.com/?p=joomla_templates', target='_blank') Joomla template
          | created with Artisteer.
    #art-resp
      #art-resp-m
      #art-resp-t
