!!! 5

html.chrome.chrome27.desktop(dir='ltr', lang='pt-br', slick-uniqueid='3', lang='en', ng-app='myApp')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='robots', content='index, follow')
    meta(name='keywords', content='arabeths, Arabeths, Restaurante, Buffet')
    meta(name='description', content='TRABALHAMOS NO NOSSO SALÃO PARA ATÉ 120 PESSOAS OU À DOMICILIO. CASAMENTOS, NOIVADOS, CONFRATERNIZAÇÕES, ANIVERSÁRIOS INFANTIS, JANTARES, ÓTIMOS PREÇOS FAÇA ORÇAMENTO SEM COMPROMISSO')
    meta(name='generator', content='Joomla! 1.5 - Open Source Content Management')
    title #{config.blogName}    
    link(rel='stylesheet', href='stylesheets/app/system.css')
    link(rel='stylesheet', href='stylesheets/app/general.css')
    // Created by Artisteer v4.0.0.58475
    meta(name='viewport', content='initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width')
    //if lt IE 9
      script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
    link(rel='stylesheet', href='stylesheets/app/template.css', media='screen')
    //if lte IE 7
      link(rel='stylesheet', href='/templates/arabeths/css/template.ie7.css', media='screen')
    link(rel='stylesheet', href='stylesheets/app/template.responsive.css', media='link')
    link(rel='stylesheet', href='stylesheets/vendors/bootstrap.min.css', media='link')
    link(rel='stylesheet', href='stylesheets/vendors/bootstrap-responsive.min.css', media='link')    
    link(rel='stylesheet', type='text/css', href='stylesheets/app/css')
    
    link(rel='stylesheet', href='http://www.agilecarousel.com/agile_carousel/agile_carousel.css', rel="stylesheet")   
    
    
    
    script(type='text/javascript', src='http://code.jquery.com/jquery-1.9.1.min.js')
    script(type='text/javascript', src='javascripts/vendors/bootstrap.min.js')      
    script(src='javascripts/vendors/angular/angular.js')
    script(src='javascripts/vendors/angular/angular-resource.min.js')        
    script(src='javascripts/app/routes.js')    
    script(src='javascripts/app/controllers.js')
    script(src='javascripts/app/resources.js')    
    script(src='javascripts/app/directive.js')
    
    script(src='javascripts/vendors/galleria/galleria-1.2.9.min.js')
    script(src='javascripts/vendors/galleria/theme/picasa/galleria.picasa.min.js')
    
    
    
    script
      window["_GOOG_TRANS_EXT_VER"] = "1";
  body(ng-controller='MenuControle')
    #art-main
      nav.art-nav.clearfix.desktop-nav
        .art-nav-inner
          ul.art-hmenu
            li#current.active.item28
              a(href='#/home') Home            
            li.item29
              a(href='#/restaurante') Restaurante
            li.item18
              a(href='#/buffet') Buffet
            li.item30
              a(href='#/contato') Contato
            li.item53
              a(href='#/localizacao') Localização
      header.art-header.clearfix
        .art-shapes
          h1.art-headline(data-left='4.25%', style='left: 156.325px;')
            a(href='#/home') #{config.blogName}
          .art-object306567849(data-left='24.91%', style='left: 340.199px;')
      .art-sheet.clearfix
        .art-layout-wrapper.clearfix
          .art-content-layout
            .art-content-layout-row
              div(ng-view='ng-view')
              p(style="padding-left: 15px;", ng-bind-html-unsafe="frase")
        footer.art-footer.clearfix
      p.art-page-footer
        span#art-footnote-links
          a(href='#/home', target='_blank') Site Arabeths
    #art-resp
      #art-resp-m
      #art-resp-t
