.art-layout-cell.art-content.clearfix
	div.art-post
		.art-postcontent.clearfix
			span.breadcrumbs.pathway
				| {{breadcrumb}}
	article.art-post.art-messages(style='display: none;')
		.art-postcontent.clearfix
	.blog-featured(style="margin-left: 180%; width : 400%;")
		.buffets-festas(fotorama="apply", data-nav="thumbs", data-navposition="top", data-auto="false")
			div(ng-repeat="buffet in buffets", data-caption="{{buffet.nome}}", data-thumb="{{buffet.url}}", data-src="{{buffet.url}}")
				.caption {{buffet.nome}}
