
.art-layout-cell.art-content.clearfix
  div.art-post
    .art-postcontent.clearfix
      span.breadcrumbs.pathway
        | {{breadcrumb}}
  article.art-post.art-messages(style='display: none;')
    .art-postcontent.clearfix
  .blog-featured    
            article.art-post(ng-repeat="post in posts")
              h2.art-postheader {{post.title}}
              .art-postcontent.clearfix
                .art-article
                  p(style='text-align: center;')
                    img(ng-src='{{post.img}}', border='0', width='300', height='250', style='')
                  p(style='text-align: justify;', ng-bind-html-unsafe="post.description")                   
