.art-layout-cell.art-content.clearfix(style="padding-left: 15%;")
  div.art-post
    .art-postcontent.clearfix
      span.breadcrumbs.pathway
        | {{breadcrumb}}
  article.art-post.art-messages(style='display: none;')
    .art-postcontent.clearfix
  .blog-featured    
            article.art-post(ng-repeat="filial in filiais")
              h2.art-postheader {{filial.title}}
              .art-postcontent.clearfix
                .art-article
                  p(style='text-align: center;', ng-bind-html-unsafe="filial.description")                   


