<div class="span2">
	<div class="accordion" id="accordion-87476">
		<div class="accordion-group" ng-repeat="menu in listMenu">
			<div class="accordion-heading">
				 <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-menu{{menu.id}}" href="#accordion-element{{menu.id}}">{{menu.name}}</a>
			</div>
			<div id="accordion-element{{menu.id}}" class="accordion-body collapse in">
				<div class="accordion-inner" ng-repeat="subMenu in menu.listSubMenu">
					<a href="#/{{subMenu.link}}" style="color : black" class="btn btn-link">{{subMenu.name}}</a>
				</div>								
			</div>
		</div>					
	</div>
</div>

<div class="span10">
	<form class="form-horizontal" name="artigoFrm">
		<fieldset>			 
			 <div class="page-header">
				<h1>					
					Formulário de Artigo <small>#{{artigo.id}}</small>
				</h1>
			</div>
			
			<div class="control-group">
				 <label class="control-label" for="inputTitulo">Título</label>
				<div class="controls">
					<input type="text" id="inputTitulo" ng-model="artigo.titulo" required/>
				</div>
			</div>
			<div class="control-group">
				 <label class="control-label" for="inputDescricao">Descrição</label>
				<div class="controls">
					<input type="text" id="inputDescricao" ng-model="artigo.descricao" required/>
				</div>
			</div>

			<div class="control-group">
				 <label class="control-label" for="inputConteudo">Conteúdo</label>
				<div class="controls">				
					<textarea ng-model="artigo.conteudo" id="inputConteudo"></textarea>
				</div>
			</div>
			
			<div class="control-group">
				<div class="controls">				 
					 <button class="btn btn-success" ng-disabled="artigoFrm.$invalid" ng-click="save(artigo)">Ok</button>		 
				</div>
			</div>
		</fieldset>
	</form>
</div>