<form class="form-horizontal">
	<fieldset>
		 <legend class="text-left muted">Formulário de Foto #{{foto.id}}</legend>
		
		<div class="control-group">
			 <label class="control-label" for="inputNome">Nome</label>
			<div class="controls">
				<input type="text" id="inputNome" ng-model="foto.nome"/>
			</div>
		</div>
		<div class="control-group">
			 <label class="control-label" for="inputLink">Link</label>
			<div class="controls">
				<input type="text" id="inputLink" ng-model="foto.link"/>
			</div>
		</div>
		<div class="control-group">
			 <label class="control-label" for="inputImagem">Imagem</label>
			<div class="controls">
				<img ng-src="{{foto.link}}" id="inputImagem" width="200"/>
			</div>
		</div>	
		<div class="control-group">
			<div class="controls">
				 <button type="submit" class="btn">Ok</button>				 
			</div>
		</div>
	</fieldset>
</form>