<table class="table table-hover">
				<thead>
					<tr>
						<th>
							#
						</th>
						<th style="width: 25%;">
							Nome
						</th>
						<th style="width: 50%;">
							Link
						</th>
						<th>
							Imagem
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="foto in fotos">
						<td>
							{{foto.id}}
						</td>
						<td>
							{{foto.nome}}
						</td>
						<td>
							<a href="{{foto.link}}" target="_blank">{{foto.link}}</a>
						</td>		
						<td>							
							<img src="{{foto.link}}" style="width: 30%;">
						</td>		
						
					</tr>					
				</tbody>
			</table>