<table class="table table-hover">
				<thead>
					<tr>
						<th>
							#
						</th>
						<th style="width: 25%;">
							Nome
						</th>						
						<th>
							Imagem
						</th>
						<th style="width: 20%;">
							Opções
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="foto in fotos">
						<td>
							{{foto.id}}
						</td>
						<td>
							{{foto.nome}}
						</td>
						
						<td>							
							<img ng-src="{{foto.link}}" style="width: 30%;">
						</td>	
						<td>
							<a class="btn btn-info" href="#/foto/{{foto.id}}">Editar</a>							
							<button class="btn btn-danger" ng-click="excluir(foto)">Excluir</button>					
						</td>	
						
					</tr>					
				</tbody>
			</table>