<div class="span2">
	<div class="accordion" id="accordion-87476">
		<div class="accordion-group" ng-repeat="menu in listMenu">
			<div class="accordion-heading">
				 <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-menu{{menu.id}}" href="#accordion-element{{menu.id}}">{{menu.name}}</a>
			</div>
			<div id="accordion-element{{menu.id}}" class="accordion-body collapse in">
				<div class="accordion-inner" ng-repeat="subMenu in menu.listSubMenu">
					<a href="#/{{subMenu.link}}" style="color : black" class="btn btn-link">{{subMenu.name}}</a>
				</div>								
			</div>
		</div>					
	</div>
</div>
<div class="span10">
<div class="page-header">
	<h1>
		Lista de Fotos <small>Gerenciamento</small>
	</h1>
</div>
<div class="alert alert-{{info.type}}" >{{info.msg}}</div>
	
	<div class="span2" ng-repeat="foto in fotos">
		<div>							
			<img ng-src="{{foto.link}}" style="width: 400px">
		
			<a class="btn btn-info" href="#/foto/{{foto.id}}">Editar</a>											
			<a class="btn btn-danger" id="modal-{{foto.id}}" href="#modal-container-{{foto.id}}" role="button" class="btn" data-toggle="modal">Excluir</a>
			<div id="modal-container-{{foto.id}}" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-header">
					 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 id="myModalLabel">
						Exclusão
					</h3>
				</div>
				<div class="modal-body">
					<p>
						Deseja excluir #{{foto.id}}?
					</p>
				</div>
				<div class="modal-footer">
					 <button class="btn" data-dismiss="modal" aria-hidden="true">Não Excluir</button> 
					 <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true" ng-click="excluir(foto)">Excluir</button>
				</div>
			</div>
		</div>	
		
	</tr>						
</div>