<form class="form-horizontal">
	<fieldset>
		 <legend class="text-left muted">Formulário de Pessoa #{{pessoa.id}}</legend>
		
		<div class="control-group">
			 <label class="control-label" for="inputNome">Nome</label>
			<div class="controls">
				<input type="text" id="inputNome" ng-model="pessoa.nome"/>
			</div>
		</div>
		<div class="control-group">
			 <label class="control-label" for="inputEmail">Email</label>
			<div class="controls">
				<input type="text" id="inputEmail" ng-model="pessoa.email"/>
			</div>
		</div>
		<div class="control-group">
			 <label class="control-label" for="inputTelefone">Telefone</label>
			<div class="controls">
				<input type="text" id="inputTelefone" ng-model="pessoa.telefone"/>
			</div>
		</div>	
		<div class="control-group">
			<div class="controls">
				 <button class="btn btn-success" ng-click="save(pessoa)">Ok</button>
			</div>
		</div>
	</fieldset>
</form>