<table class="table table-hover">
		<thead>
			<tr>
				<th>
					#
				</th>
				<th>
					Nome
				</th>
				<th>
					Telefone
				</th>
				<th>
					Email
				</th>
				<th>
					Opções
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="pessoa in pessoas">
				<td>
					{{pessoa.id}}
				</td>
				<td>
					{{pessoa.nome}}
				</td>
				<td>
					{{pessoa.telefone}}
				</td>
				<td>
					{{pessoa.email}}
				</td>
				<td>
					<a href="#/pessoa/{{pessoa.id}}">Editar</a>							
				</td>
			</tr>					
		</tbody>
	</table>