.art-layout-cell.art-content.clearfix
  div.art-post
    .art-postcontent.clearfix
      span.breadcrumbs.pathway
        | {{breadcrumb}}
  article.art-post.art-messages(style='display: none;')
    .art-postcontent.clearfix
  .blog-featured(style="margin-left: 7%;")
    .restaurantes-festas(data-nav="thumbs", data-navposition="top")
      a(ng-repeat="restaurante in restaurantes", data-caption="{{restaurante.nome}}")
        img(ng-src="{{restaurante.url}}")
